# 资料文件 - 不要提交到git
~$
*.tmp
资料/Jiang和Wang - 2024 - Dataset Constrution through Ontology-Based Data Requirements Analysis.pdf
资料/Sutejo 等 - 2024 - Ontology learning from object-relational mapping metadata and relational database.pdf
资料/百度胜算.pdf
资料/本体设计思路.jpg
资料/知识图谱从零构建.pdf
资料/知识图谱选型与实施指南 (中国电子技术标准化研究院, 全国信标委人工智能分委会知识图谱工作组 etc.).pdf